html{
  box-sizing: content-box;
}

body{
  margin :0;
  background-color: #f2f2f2;
}

header{
  background-color: black;
}

header h1{
  color: white;
}


.grid-container{
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 2fr / .1fr 1fr 1fr 1fr 1fr;
  /* grid-gap:  0px; */
  width: auto;
  height: auto;
  /* padding: 20px; */
  /*background-color: yellow;*/

}

.G-div1{ /* --HEADER-- */
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end:6;
  /* border: 4px white dotted; */
  background-color: black;
  display: flex;
  align-items: flex-end;


}

.G-div2{ /* --SIDEBAR */
  text-align: center;
  /* border: 1px solid black;
  border-radius: 10px; */
  height: auto;
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start:1;
  grid-column-end: 2;
  background-color: #f2f2f2;

}

.G-div3{
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start:3;
  grid-column-end: 6;
  background-color: red;

}




/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100%; /* Set the width of the sidebar */
  position: static; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  /* top: 0; /* Stay at the top */ */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
